


{% extends "base.html" %}
{% block content %}

        <div class="d-flex align-items-center justify-content-center vh-100" >
               {% load static %}
               {% load bootstrap %}

            <section style="  margin-bottom: 90px; margin-top: 120px;" >
                <div class="container">
                  <div class="row" >
                     <div class="col-sm-7"  style="padding-top: 90px;   ">
                         <h1 class="text-light text-center" style="color:#FFFFFF; padding-top: 90px; marning-bot: 90px;  text-shadow: 1px -3px 8px rgba(206,206,206,0.72);">Artworld</h1>
                         <div class="p-2 text-dark" style="border-radius:30px; padding: 90; background: rgba(255,255,255,0.5); " >
                            <h3 style="">Площадка веб дизайнеров</h3>
                             <p> стань частью команды уже сейчас</p>
                         </div>

                         <div class="row no-gutters" style=" margin-top: 90px">
                             <div class="col-md-4">
                                <img src="{% static 'index_1.png'%}" width="1000" height = "1000" alt="альтернативный текст" style="background:transparent;" class="img-fluid">
                             </div>
                             <div class="col-md-4">
                                 <img src="{% static 'index_2.png'%}" width="1000" height = "1000" alt="альтернативный текст" style="background:transparent;" class="img-fluid">
                             </div>
                             <div class="col-md-4">
                                <img src="{% static 'index_3.png'%}" width="1000" height = "1000" alt="альтернативный текст" style="background:transparent;" class="img-fluid">
                             </div>
                         </div>
                     </div>
                     <div class="col-sm-5">
                        <img src="{% static 'head_gips.png'%}" width="1000" height = "1000" alt="альтернативный текст" style="background:transparent;" class="img-fluid">
                     </div>
                  </div>
                </div>
            </section>
            </div>
            <section>
                <h1 class="display-1 text-light ">Вдохновляйся</h1>
                <style>
                    @keyframes scroll {
                      0% {
                        transform: translateX(0);
                      }
                      100% {
                        transform: translateX(calc(-250px * 2));
                      }
                    }
                    .slide-track{
                    }
                    .slider {
                      background: white;
                      box-shadow: ;
                      height: 500px;
                      margin: auto;
                      overflow: hidden;
                      position: relative;
                      width: auto;
                    }
                    .slider::before, .slider::after {

                      content: "";
                      height: 500px;
                      position: absolute;
                      width: 300px;
                      z-index: 2;
                    }
                    .slider::after {
                      right: 0;
                      top: 0;
                      transform: rotateZ(180deg);
                    }
                    .slider::before {
                      left: 0;
                      top: 0;
                    }
                    .slider .slide-track {
                      animation: scroll 10s linear infinite;
                      display: flex;
                    }
                    .slider .slide {
                      height: 370px;
                      width: 600px;


                    }
                    .slide {
                      padding-right:900px;
                        border-radius:10px;

                    }
                </style>

                <div >
                    <div>
                    <div class="slider bg-transparent">
                      <div class="slide-track bg-transparent">


                        <div class="slide">
                          <img src="{% static 'index_inspiration_1.png'%}" height="600" width="900" alt=""  class="img-fluid"/>
                        </div>

                        <div class="slide">
                          <img src="{% static 'index_inspiration_2.png'%}" height="600" width="900"   alt="" />
                        </div>
                        <div class="slide">
                          <img src="{% static 'index_inspiration_1.png'%}" height="600" width="900"  alt="" />
                        </div>

                        <div class="slide">
                          <img src="{% static 'index_inspiration_2.png'%}"  height="600" width="900"  alt="" />
                        </div>



                      </div>
                    </div>
                    </div>
                </div>
            </section>





{% endblock content %}